//Jumbo Banner

.jumbo-banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: $base-spacing*5;
    margin-bottom: $base-spacing*5;

    h1 {
        font-size: $base-font-size*6;
        color: white;
        text-shadow: $default-shadow;
    }

    h5 {
        font-size: $base-font-size*3;
        color: white;
        text-shadow: $default-shadow;
    }
}

//background designer

.background-designer {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 1;
}

.draggable-circle {
    width: 20px;
    height: 20px;
    box-shadow: $dark-shadow;
    background-color: $white-transparent;
    border-radius: 12px;
    position: absolute;
    z-index: 9;
}

.draggable-circle-highlighted {
    border: 2px solid white;
}

.colour-settings {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 280px;
}

.slider-row {
    display: grid;
    grid-template-columns: 20px auto 20px;
}

.slider-hue {
    appearance: none;
    background-color: rgba(0,0,0,0.1);
    background: linear-gradient(to right, rgb(255,0,0), rgb(255,255,0), rgb(0,255,0),rgb(0,255,255),rgb(0,0,255),rgb(255,0,255),rgb(255,0,0));
}

.slider-saturation {
    appearance: none;
    background-color: rgba(0,0,0,0.1);
}

.slider-lightness {
    appearance: none;
    background-color: rgba(0,0,0,0.1);
}

.fixed-debug {
    position: fixed;
    left: 10px;
    top: 10px;
}

.fixed-button-bottom-right{
    position: fixed;
    bottom: 250px;
    right: 10px;
    width: 100px;
}
