.card {
    background-color: $white-transparent;
    border-radius: $default-border-radius;
    @include responsive-content-padding;
    @include default-row-grid;
}

.img {
    width: 140px;
    height: 140px;
    background-size: cover;
    border-radius: 70px;
    justify-self: center;
}

//background designer

.background-designer {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.draggable-circle {
    width: 20px;
    height: 20px;
    box-shadow: $dark-shadow;
    background-color: white;
    border-radius: 12px;
    position: absolute;
    z-index: 9;
}

.colour-settings {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 200px;

    .slider-row {
        display: grid;
        grid-template-columns: 20px auto 20px;
    }
}

.fixed-debug{
    position: fixed;
    left:10px;
    top: 10px;
}