.card {
    background-color: $white-transparent;
    border-radius: $default-border-radius;
    @include responsive-content-padding;
    @include default-row-grid;
}

.img {
    width: 140px;
    height: 140px;
    background-size: cover;
    border-radius: 70px;
    justify-self: center;
}