html {
    font-family: 'Open Sans';
}

body {
    margin: 0;
    padding: 0;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.background-container{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.content-container {
    @include default-row-grid;

    & > section {
        @include fullwidth-centred-content;

        & > article {
            @include responsive-content-padding;
        }
    }
}

.display-on-mobile {
    display: none;
}

@media only screen and (min-width: $large-mobile-screen-size) {
    .display-on-mobile {
        display: initial;
    }
    header.site-header {
        img {
            width: 10rem;
        }
    }
}

@media only screen and (min-width: $tablet-screen-size) {
    header.site-header {
        img {
            width: 10rem;
        }
    }
}

@media only screen and (min-width: $desktop-screen-size) {
    header.site-header {
        img {
            width: 10rem;
        }
    }
}

