@mixin fullwidth-with-centred-content {
    width: 100%;
    min-width: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    & > * {
        //margin: 0 1rem;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 700px;
    }
}

html {
    font-family: 'Open Sans';
}

body {
    margin: 0;
    padding: 0;
    //@include blues-and-purples-meshed-background;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card-list {
    @include default-row-grid;
    place-items: center;
    justify-items: stretch;
    text-align: center;

    & > *:not(h2) {
        box-shadow: $default-shadow;
    }
}

.content-container {
    @include fullwidth-with-centred-content;
}

.content {
    @include responsive-content-padding;
    display: grid;
    grid-template-rows: repeat(auto);
    @include responsive-grid-gap;
}

.display-on-mobile {
    display: none;
}

@media only screen and (min-width: $large-mobile-screen-size) {
    .display-on-mobile {
        display: initial;
    }
    header.site-header {
        img {
            width: 10rem;
        }
    }
}

@media only screen and (min-width: $tablet-screen-size) {
    header.site-header {
        img {
            width: 10rem;
        }
    }
}

@media only screen and (min-width: $desktop-screen-size) {
    header.site-header {
        img {
            width: 10rem;
        }
    }
}

