nav.primary-nav {
    @include responsive-content-padding;
    background-color: $black;
    h1 {
        color: white;
    }
    display: grid;
    grid-template-columns: auto auto;
    text-transform: capitalize;
}
