nav.primary-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;

    .menu-primary-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        overflow-x: auto;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        &::-webkit-scrollbar {
            display: none;
        }
        ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            list-style-type: none;
            margin: 0;
            @media only screen and (min-width: $tablet-screen-size) {
                margin-left: 1rem;
            }
            padding: 0;
            white-space: nowrap;

            li:nth-child(n + 2) {
                @include display-on-tablet-upwards;
            }

            li a {
                display: block;
                font-size: 1.1rem;
                line-height: 1rem;
                font-family: Roboto;
                color: white;
                text-align: center;
                text-decoration: none;
                -webkit-transition: ease-in 0.2s;
                -o-transition: ease-in 0.2s;
                transition: ease-in 0.2s;
                padding: 0.6rem;

                @media only screen and (min-width: $tablet-screen-size) {
                    font-size: 0.8rem;
                }
            }

            li a:hover {
                color: $secondary-colour;
                background-color: $charcoal-grey;
            }

            [aria-current] {
                text-decoration: underline;
            }
        }
    }
    .primary-nav-right {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -ms-flex-item-align: center;
        align-self: center;
        padding-right: 0.5rem;

        @media only screen and (min-width: $large-mobile-screen-size) {
            padding-right: 1rem;
        }

        @media only screen and (min-width: $tablet-screen-size) {
            padding-right: 1.2rem;
        }

        @media only screen and (min-width: $desktop-screen-size) {
            padding-right: 1.4rem;
        }
    }
}

.useful-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    @media only screen and (min-width: $large-mobile-screen-size) {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
    @media only screen and (min-width: $tablet-screen-size) {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
    @media only screen and (min-width: $desktop-screen-size) {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    @include responsive-grid-gap;
    li {
        display: inline;
        text-align: center;
    }
    li a {
        font-family: Roboto-Medium;
        color: white;

        text-decoration: none;
    }
    li:last-child {
        margin-right: 0px;
    }
}

nav.footer-nav ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        display: inline;
        padding: 0 0.5rem;
    }
    li:not(:last-child) {
        border-right: 1px solid $light-grey;
    }
}

#mobileMenu.show {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

#screenOverlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0;
    top: 0;
    width: 150%;
    height: 100%;
    z-index: 104;
    -webkit-transition: ease-in 0.2s;
    -o-transition: ease-in 0.2s;
    transition: ease-in 0.2s;
    pointer-events: none;
    opacity: 0;
}

#screenOverlay.show {
    opacity: 1;
    pointer-events: all;
}

.hamburger-link {
    @include display-on-large-mobile-downwards;
}
