@using Blazored.TextEditor
@using HybridPages.Client.State
@using System.Text.Json
@inject PageService _pageService;
<div class="text-editor">
    @if (_pageService.SelectedPost != null)
    {

    }
</div>