@page "/"
<div class="card-list">
	<PageTitle>Index</PageTitle>
	<div class="img" style="background-image: url('images/lorelle.jpg')">
	</div>
	<div class="card">
		<h1>Dr. Lorelle Brownlee</h1>
		<p>I'm a potato doctor. Mainly nursing potatoes in this shit.</p>
	</div>
	<h2>Social Media</h2>
	<div class="socials">

	</div>
	<h2>Publications</h2>
	<div class="card">
		<p>Albert Einstein, The Meaning of Relativity (Princeton: Princeton University Press, 1923), 44–45.</p>
	</div>
	<div class="card">
		<p>Albert Einstein, The Meaning of Relativity (Princeton: Princeton University Press, 1923), 44–45.</p>
	</div>
	<div class="card">
		<h1>Dr. Lorelle Brownlee</h1>
		<p>I'm a potato doctor. Mainly nursing potatoes in this shit.</p>
	</div>

</div>

