@page "/settings/{UniqueName}"
@using HybridPages.Client.State;
@inject PageService _pageService
<div class="content-container">
	<div class="content-container">
		@if (_pageService.Page == null)
		{
			<article class="card">
				<p><em>Loading...</em></p>
			</article>
		}
		else
		{
			@foreach (var post in _pageService.Page.Posts)
			{
				<ContentSection post="@post"></ContentSection>
			}
		}
	</div>
</div>