@using HybridPages.Client.Shared.EditorComponents
@using HybridPages.Client.State;
@using HybridPages.Shared.Enums;
@using HybridPages.Shared.Helpers;
@using HybridPages.Shared.Models;
@using SimpleTextEditor.Helpers
@inject PageService _pageService;
@inject AuthenticationStateProvider AuthenticationStateProvider

@if (post != null)
{
	<section class="@(_editable && _pageService.SelectedPost != post ? "mouseover-border" : "") @(_pageService.SelectedPost == post ? "editing-border" : "")" @onclick="(() => _pageService.SelectPost(post))">
		<article class="card">
			@((MarkupString)post.TextBlocks.ToHtml())
		</article>
	</section>
}