@inherits LayoutComponentBase

<div class="content-container">
    <div class="content">
        <div>
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article>
            @Body
        </article>
    </div>
</div>
